<a href="https://colab.research.google.com/github/GGolfz/Introduction-to-Python/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

## Numerical variable

In [ ]:
a = 1
b = 3.5

In [ ]:
a+b

4.5

## String Variable

In python the text inside  " " and ' ' will counted as the character althrough it is a number.

In [ ]:
a = "Hello"
b = "World"

In [ ]:
a+b

'HelloWorld'

# Data Types

## Number

### Integer

In [ ]:
a = 4
print(a)
print(type(a))

4
<class 'int'>

### Floating

In [ ]:
a = 2.5
print(type(a))

<class 'float'>

### Operation of Number

In [ ]:
a = 4
b = 2
print(a+b) # Add
print(a-b) # Minus
print(a*b) # Multiple
print(a/b) # Divide
print(a**b) # Power (a power by b)
print(a**(1/b)) # Root (bth root of a)
print(a%b) # Modulo

6
2
8
2.0
16
2.0
0

## String

## Concatination string variable for printing

In [ ]:
a = "Hello"
b = "World"
print(a + ' ' + b)
print(a,b)
print('%s %s' %(a,b))
print("{} {}".format(a,b))
print(f"{a} {b}")

Hello World
Hello World
Hello World
Hello World
Hello World

## Type Casting

In [ ]:
a = 5
b = str(a)
c = int(b)
d = float(a)
e = float(b)
f = str(d)
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

5 <class 'int'>
5 <class 'str'>
5 <class 'int'>
5.0 <class 'float'>
5.0 <class 'float'>
5.0 <class 'str'>

## Access Character of String

In [ ]:
a = "Hello World"
print(a) # Access All String
print(a[0]) # Access index 0 of String
print(a[2]) # Access index 2 of String
print(a[2:4]) # Access index 2 to 3 of String
print(a[6:]) # Access from index 6 to the end of Strng
print(a[:3]) # Access from the beginning to index 2 of String
print(a[:-2]) # Access from the beginning until String has 2 characters left
print(a[0:4:2]) # Access from index 0 to 3 and step by 2 [0,2]
print(a[::-1]) # Access All String step by -1 (Backward)
print(a[3::3]) # Access from index 3 to the end step by 3 [3,6,9]

Hello World
H
l
ll
World
Hel
Hello Wor
Hl
dlroW olleH
lWl

## String Function

In [ ]:
a = " Hello World. "
print(a.lower()) # Lower case
print(a.upper()) # Upper case
print(a.split()) # split to list of char
print(a.split('l')) # split by given string
print(a.strip()) # remove space in the front and end of string

 hello world.
 HELLO WORLD.
['Hello', 'World.']
[' He', '', 'o Wor', 'd. ']
Hello World.